
/* GENERICS */
.wrapper{
    height: 100vh;
    display: flex;
    flex-direction: column;
}

header{
    height: 70px;
    background-color: #F8F9FA;
    flex-shrink: 0;
    color: #5B5858;
}

.bottom-content{
    flex-grow: 1;
    display: flex;
    overflow: auto;
}

.sidebar{
    flex-basis: 70px;
    flex-shrink: 0;
    background-image: url(/img/sidebar-bg.png);
}

.sidebar-top{
    height: calc(100% - 70px);
    display: flex;
    justify-content: center;
}

.sidebar-bottom{
    height: 70px;
}

main{
    flex-grow: 1;
    overflow: auto;
}

#plan-and-app{
    min-height: 100px;
    background-color: dodgerblue;
}

#dashboard-information{
    height: 100%;
}

ul{
    list-style: none;
    padding: 0px;
    margin-bottom: 0;
}

a{
    text-decoration: none;
    color: white;
}

/* UTILS */

.col-border{
    border: 2px dashed white;
}

.row-border{
    border: 2px dashed red;

}
.container-fluid{
    border: 2px dashed black;
}

.h500{
    height: 500px;
}

.c-white{
    color: white;
}

.bg-bluedark{
    background-color: #175BBA;
}

/* HEADER */
.logo-mobile{
    width: 50px;
    margin: 0px 20px;
}

ul.header-list{
    display: flex;
    gap: 15px;
    margin-right: 10px;
    padding-left: 1rem;
}

.header-list li > a{
    color: #5B5858;
}

/* SIDE-BAR */
ul.sidebar-list li > a{
    color: white;
}

