/* CSS RESET  */
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* GENERICS */
.wrapper{
    height: 100vh;
    display: flex;
    flex-direction: column;
}

header{
    height: 70px;
    background-color: cadetblue;
    flex-shrink: 0;
}

.bottom-content{
    flex-grow: 1;
    background-color: chartreuse;
    display: flex;
    overflow: auto;
}

.sidebar{
    flex-basis: 70px;
    background-color: brown;
    flex-shrink: 0;
}

.sidebar-top{
    height: calc(100% - 70px);
}

.sidebar-bottom{
    height: 70px;
}

main{
    flex-grow: 1;
    overflow: auto;
}

#plan-and-app{
    min-height: 100px;
    background-color: dodgerblue;
}

#dashboard-information{
    background-color: chocolate;
    height: 100%;
}

/* UTILS */

.col-border{
    border: 2px dashed white;
}

.row-border{
    border: 2px dashed red;

}
.container-fluid{
    border: 2px dashed black;
}

.h500{
    height: 500px;
}


/* HEADER */


/* SIDE-BAR */


